* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;

    background-color: #FFEDE5;

    overflow: hidden;
}

.main-container {
    width: 100vw;
    height: 100vh;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

.window {
    width: 912px;
    height: 696px;
    border-radius: 15px;

    display: flex;

    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(126, 126, 126, 0.425);
    overflow: hidden;
}

a {
    color: #404040;
    text-decoration: none;
    font-family: monospace;
    font-size: 24px;
    margin-bottom: 20px;

    padding: 10px 20px;

    display: flex;
    align-items: center;

    font-variant: small-caps;
}

.glass-container {
    width: 30%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.40);

    backdrop-filter: blur(15px);

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}

.menu-image {
    width: 24px;
    opacity: 0.5;
    margin-right: 10px;
}

.container {
    width: 70%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.99);

    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-button {
    width: 245px;
    height: 54px;

    color: white;

    background: rgb(255,199,0);
    background: linear-gradient(90deg, rgba(255,199,0,1) 0%, rgba(255,15,0,0.5) 100%);

    border: none;
    border-radius: 15px;
    outline: none;

    font-variant: small-caps;
    font-family: sans-serif;

    cursor: pointer;
    box-shadow: 0px 1px 5px rgb(126, 126, 126);
    
    transition: 0.07s;
}


.upload-button:focus {
    transform: scale(1);
    box-shadow: 0px 1px 5px rgb(126, 126, 126);
}

.upload-button:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 0px rgb(126, 126, 126);
}


.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.drag-n-drop {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%230000004A' stroke-width='8' stroke-dasharray='8%2c 16' stroke-dashoffset='15' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 16px;

    width: 320px;
    height: 264px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cloud {
    width: 86px;
    opacity: 0.5;
    pointer-events: none;
    transition: 0.3s;
}

#drag-n-text {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 32px;
    width: 240px;
    pointer-events: none;
}

.bg-figure {
    position: absolute;
}

.bg-figure:nth-child(1) {
    left: 10%;
    top: 5%;
}

.bg-figure:nth-child(2) {
    left: 70%;
    top: 30%;
    transform: scale(0.7) rotate(90deg);
}

.bg-figure:nth-child(3) {
    bottom: 0;
    left: 0;
}

.bg-figure:nth-child(4) {
    bottom: 0;
    right: 0;
}

.bg-figure:nth-child(5) {
    top:50%;
    left: 24%;
    transform: rotate(60deg);
}

.bg-figure:nth-child(6) {
    top:53%;
    left: 54%;
    transform: rotate(110deg) scale(0.6);
}

.bg-figure:nth-child(7) {
    top:-20%;
    right: -0%;
    transform: rotate(40deg) scale(1.1);
}

#select-zone {
    display: none;
    flex-direction: column;
}

#c {
    position: absolute;
}

#uploaded-image {
    width: 100%;
    height: auto;
}

.undo-button {
    display: none;

    height: 32px;
    justify-content: center;
    align-items: center;
    margin-top: -32px;
    transform: translateY(64px);
}

.done-button {
    display: none;

    height: 32px;
    justify-content: center;
    align-items: center;
    margin-top: -32px;
    transform: translateY(128px);
}