<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
	<title>Demo</title>
</head>
<body>
	<input type="file" id='uploadImage' style='display: none' onchange="data.sendDatas(this, '/uploadImage')">
	<div class="main-container">
		<div class="window">
			<div class="glass-container">
				<a href=""><img src="{{ url_for('static', path='icons/upload.png') }}" class='menu-image'></img>загрузить кратинку</a>
				<a href=""><img src="{{ url_for('static', path='icons/selection.png') }}" class='menu-image'></img>выделить зону</a>
				<a href=""><img src="{{ url_for('static', path='icons/ai.png') }}" class='menu-image'></img>обучить нейросеть</a>
				<a href=""><img src="{{ url_for('static', path='icons/down-arrow.png') }}" class='menu-image'></img>скачать json</a>
			</div>
			<div class="container">
				<img id='image' />
				<div class="drag-n-drop" id='dragArea'>
					<img src="{{ url_for('static', path='icons/cloud.png') }}" id='cloud' alt="">
					<p id='drag-n-text'>Перетащите картинку сюда, или</p>
					<button class="upload-button" onclick="document.getElementById('uploadImage').click()">выбрать изображение</button>
				</div>
			</div>
		</div>
		<div class="message-container"></div>
	</div>	
	<div class="background">
		<img src="{{ url_for('static', path='svg/Ellipse.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Trianle.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Line.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Line2.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Trianle.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Ellipse.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Ellipse.png') }}" class='bg-figure'></img>
	</div>

	<script src="{{ url_for('static', path='js/dragAndUpload.js') }}"></script>
	<script src="{{ url_for('static', path='js/jquery-3.6.0.js') }}"></script>
	<script src="{{ url_for('static', path='js/ws.js') }}"></script>	
</body>
</html>
