<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', path='icons/archive.png') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/calendar.css') }}">
	<title>Demo</title>
</head>
<body>

	<script src="{{ url_for('static', path='js/jquery-3.6.0.js') }}"></script>
	<script src="{{ url_for('static', path='js/jquery-ui.min.js') }}"></script>
	<script src="{{ url_for('static', path='js/ws.js') }}"></script>
	<script src="{{ url_for('static', path='js/data.js') }}"></script>
	<script src="{{ url_for('static', path='js/messages.js') }}"></script>

	<!-- <script src="{{ url_for('static', path='js/script.js') }}"></script>		
	<script src="{{ url_for('static', path='js/calendar.js') }}"></script>
	<script src="{{ url_for('static', path='js/perspectiveTransform.js') }}"></script> -->
</body>
</html>
