<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
	<title>Demo</title>
</head>
<body>
	<input type="file" id='uploadImage' style='display: none' onchange="data.sendDatas(this, '/uploadImage')">
	<div class="main-container">
		<div class="window">
			<img class="glass-container">
			<div class="container">
				<img id='image' />
				<button class="upload-button" onclick="document.getElementById('uploadImage').click()">загрузить изображение</button>
			</div>
		</div>
		<div class="message-container"></div>
	</div>	
	<div class="background">
		<img src="{{ url_for('static', path='svg/Ellipse.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Trianle.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Line.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Line2.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Trianle.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Ellipse.png') }}" class='bg-figure'></img>
		<img src="{{ url_for('static', path='svg/Ellipse.png') }}" class='bg-figure'></img>
	</div>
	<script src="{{ url_for('static', path='js/jquery-3.6.0.js') }}"></script>
	<script src="{{ url_for('static', path='js/ws.js') }}"></script>	
</body>
</html>
